.container {
  padding: 24px;
}

.container.dark {
  background-color: #23272f;
}

.container.light {
  background-color: white;
}

.app.dark p,
.app.dark h3,
.app.dark h1 {
  color: #f6f7f9;
}

.app.light p,
.app.light h3,
.app.light h1 {
  color: black;
}
